<h1>Affichage des aliments</h1>

<div class="container">
  <div class="row">
    <div class="col-4">
      <div class="card">
        <div class="card-header">
          {{aliments[0].nom}}
        </div>
        <div class="card-body">
          <img [src]="aliments[0].image" alt="">
           
          <p class="card-text"><span class="badge badge-pill badge-primary"> {{aliments[0].prix}}</span></p>
        </div>
        <div class="card-footer text-muted">
          <button class="btn btn-warning">
            <i class="fa fa-address-book" aria-hidden="true"></i>
            <i class="fa fa-pencil" aria-hidden="true"></i>
            Afficher</button>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-header">
          {{aliments[1].nom}} 
        </div>
        <div class="card-body">
          <h4 class="card-title">Title</h4>
          <p class="card-text">Text</p>
        </div>
        <div class="card-footer text-muted">
          Footer
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-header">
          Header
        </div>
        <div class="card-body">
          <h4 class="card-title">Title</h4>
          <p class="card-text">Text</p>
        </div>
        <div class="card-footer text-muted">
          Footer
        </div>
      </div>
    </div>

  </div>
</div>



<!--
<div class="container">
  <div class="row">
        <div class="col-4">
          <ul>
            <li> {{aliments[0].nom}} 
              <img [src]="aliments[0].image" alt="">
            {{aliments[0].prix}}
            <input type="checkbox" [checked]="aliments[0].frais">Frais
          </li>
          <li> {{aliments[1].nom}} 
            <img [src]="aliments[1].image" alt="">
          {{aliments[1].prix}}
          <input type="checkbox" [checked]="aliments[1].frais">Frais
          </li>
          <li> {{aliments[2].nom}} 
            <img [src]="aliments[2].image" alt="">
          {{aliments[2].prix}}
          <input type="checkbox" [checked]="aliments[2].frais">Frais
          </li>
          </ul>
          
        </div>
<div class="col-4">

        <ul>
          <li> {{aliments[0].nom}} 
            <img [src]="aliments[0].image" alt="">
          {{aliments[0].prix}}
          <input type="checkbox" [checked]="aliments[0].frais">Frais
        </li>
        <li> {{aliments[1].nom}} 
          <img [src]="aliments[1].image" alt="">
        {{aliments[1].prix}}
        <input type="checkbox" [checked]="aliments[1].frais">Frais
        </li>
        <li> {{aliments[2].nom}} 
          <img [src]="aliments[2].image" alt="">
        {{aliments[2].prix}}
        <input type="checkbox" [checked]="aliments[2].frais">Frais
        </li>
        </ul>
</div>
<div class="col-4">

  <ul>
    <li> {{aliments[0].nom}} 
      <img [src]="aliments[0].image" alt="">
    {{aliments[0].prix}}
    <input type="checkbox" [checked]="aliments[0].frais">Frais
  </li>
  <li> {{aliments[1].nom}} 
    <img [src]="aliments[1].image" alt="">
  {{aliments[1].prix}}
  <input type="checkbox" [checked]="aliments[1].frais">Frais
  </li>
  <li> {{aliments[2].nom}} 
    <img [src]="aliments[2].image" alt="">
  {{aliments[2].prix}}
  <input type="checkbox" [checked]="aliments[2].frais">Frais
  </li>
  </ul>
</div>
  </div>
</div>


<ul>
  <li> {{aliments[0].nom}} 
    <img [src]="aliments[0].image" alt="">
  {{aliments[0].prix}}
  <input type="checkbox" [checked]="aliments[0].frais">Frais
</li>
<li> {{aliments[1].nom}} 
  <img [src]="aliments[1].image" alt="">
{{aliments[1].prix}}
<input type="checkbox" [checked]="aliments[1].frais">Frais
</li>
<li> {{aliments[2].nom}} 
  <img [src]="aliments[2].image" alt="">
{{aliments[2].prix}}
<input type="checkbox" [checked]="aliments[2].frais">Frais
</li>
</ul>

Le nombre d'aliments est {{nbFrais()}}

-->

<!--
<ul>
  <li>{{aliment.nom}}</li>
  <li> {{aliment.prix}}</li>
  <li><img [src]="aliment.image" alt=""></li>
  <li><input type="checkbox" [(ngModel)]="aliment.frais"></li>
</ul>
<button (click)="onAfficher()" class="btn btn-primary">Afficher</button>
-->